.ff0{font-family:sans-serif;visibility:hidden;}
.ff1{font-family:ArialMT,sans-serif;font-weight:normal;font-style:normal;line-height:1.364258;visibility:visible;}
.ff2{font-family:Arial-BoldMT,sans-serif;font-weight:bold;font-style:normal;line-height:1.432129;visibility:visible;}
.ff3{font-family:ArialMT,sans-serif;font-weight:normal;font-style:normal;line-height:1.364258;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.ttf)format("truetype");}.ff4{font-family:ff4;line-height:1.031738;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.ttf)format("truetype");}.ff5{font-family:ff5;line-height:1.012695;font-style:normal;font-weight:normal;visibility:visible;}
.ff6{font-family:Arial-BoldMT,monospace;font-weight:bold;font-style:normal;line-height:1.432129;visibility:visible;}
.ff7{font-family:ArialMT,sans-serif;font-weight:normal;font-style:normal;line-height:1.364258;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.ttf)format("truetype");}.ff8{font-family:ff8;line-height:0.758789;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.ttf)format("truetype");}.ff9{font-family:ff9;line-height:1.031738;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffa;src:url(fa.ttf)format("truetype");}.ffa{font-family:ffa;line-height:0.977051;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffb;src:url(fb.ttf)format("truetype");}.ffb{font-family:ffb;line-height:0.745605;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffc;src:url(fc.ttf)format("truetype");}.ffc{font-family:ffc;line-height:1.012695;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffd;src:url(fd.ttf)format("truetype");}.ffd{font-family:ffd;line-height:0.978516;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffe;src:url(fe.ttf)format("truetype");}.ffe{font-family:ffe;line-height:1.012695;font-style:normal;font-weight:normal;visibility:visible;}
.m2{transform:matrix(0.249753,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249753,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249753,0.000000,0.000000,0.250000,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls3{letter-spacing:-0.203600px;}
.ls4{letter-spacing:-0.164000px;}
.ls7{letter-spacing:-0.144000px;}
.ls8{letter-spacing:-0.096000px;}
.ls2{letter-spacing:-0.072800px;}
.ls9{letter-spacing:-0.048000px;}
.ls0{letter-spacing:0.000000px;}
.ls6{letter-spacing:0.060000px;}
.ls1{letter-spacing:0.192000px;}
.ls5{letter-spacing:0.240000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._2{margin-left:-8.640000px;}
._3{margin-left:-1.368960px;}
._0{width:1.149120px;}
._9{width:13.048320px;}
._1{width:18.240000px;}
._8{width:20.544000px;}
._7{width:42.672000px;}
._11{width:45.408000px;}
._f{width:70.380000px;}
._e{width:86.888000px;}
._10{width:92.984000px;}
._4{width:102.965120px;}
._c{width:122.364000px;}
._a{width:133.168320px;}
._d{width:135.264000px;}
._5{width:562.096160px;}
._6{width:565.128320px;}
._b{width:685.008320px;}
.fc7{color:rgb(18,86,135);}
.fc6{color:rgb(68,84,106);}
.fc5{color:rgb(5,99,193);}
.fc4{color:rgb(47,84,150);}
.fc0{color:rgb(0,0,0);}
.fc1{color:rgb(127,127,127);}
.fc2{color:rgb(2,49,96);}
.fc3{color:rgb(128,128,128);}
.fs8{font-size:36.000000px;}
.fs4{font-size:38.680992px;}
.fs3{font-size:39.840000px;}
.fs7{font-size:42.240000px;}
.fs0{font-size:44.160000px;}
.fs2{font-size:48.000000px;}
.fs6{font-size:51.840000px;}
.fs5{font-size:56.160000px;}
.fs1{font-size:63.840000px;}
.y0{bottom:0.000000px;}
.y3a{bottom:2.880000px;}
.y3c{bottom:3.000000px;}
.y40{bottom:3.240000px;}
.y2a{bottom:3.313487px;}
.y2{bottom:10.704000px;}
.y2c{bottom:16.824000px;}
.y13{bottom:23.184000px;}
.y33{bottom:29.784000px;}
.y11{bottom:63.984000px;}
.y7d{bottom:72.504000px;}
.y5d{bottom:83.304000px;}
.y7c{bottom:87.624000px;}
.y10{bottom:98.424000px;}
.y7b{bottom:102.860000px;}
.y5c{bottom:108.860000px;}
.y7a{bottom:118.100000px;}
.y5b{bottom:125.420000px;}
.yf{bottom:132.890000px;}
.y79{bottom:133.250000px;}
.y5a{bottom:148.970000px;}
.y78{bottom:150.410000px;}
.y4e{bottom:162.530000px;}
.y3b{bottom:162.770000px;}
.y50{bottom:164.210000px;}
.ye{bottom:167.450000px;}
.y77{bottom:173.690000px;}
.y59{bottom:175.610000px;}
.y76{bottom:186.890000px;}
.y4f{bottom:187.730000px;}
.y4d{bottom:188.690000px;}
.y58{bottom:199.130000px;}
.y75{bottom:200.090000px;}
.yd{bottom:201.890000px;}
.y28{bottom:202.130000px;}
.y12{bottom:202.730000px;}
.y4c{bottom:211.370000px;}
.y27{bottom:214.370000px;}
.y29{bottom:214.771808px;}
.y74{bottom:219.290000px;}
.y57{bottom:222.770000px;}
.y3e{bottom:225.890000px;}
.y4b{bottom:235.010000px;}
.yc{bottom:236.450000px;}
.y73{bottom:238.490000px;}
.y56{bottom:243.290000px;}
.y4a{bottom:255.530000px;}
.y72{bottom:257.930000px;}
.y26{bottom:266.710000px;}
.yb{bottom:270.910000px;}
.y25{bottom:281.350000px;}
.y24{bottom:296.110000px;}
.y71{bottom:297.910000px;}
.y6c{bottom:303.670000px;}
.ya{bottom:305.470000px;}
.y23{bottom:310.750000px;}
.y70{bottom:321.910000px;}
.y22{bottom:325.390000px;}
.y6b{bottom:330.190000px;}
.y21{bottom:337.990000px;}
.y9{bottom:339.910000px;}
.y20{bottom:350.710000px;}
.y6f{bottom:353.230000px;}
.y61{bottom:355.030000px;}
.y6a{bottom:356.710000px;}
.y1f{bottom:365.350000px;}
.y6e{bottom:366.550000px;}
.y8{bottom:374.470000px;}
.y60{bottom:377.350000px;}
.y1e{bottom:379.990000px;}
.y55{bottom:382.270000px;}
.y69{bottom:383.350000px;}
.y49{bottom:391.390000px;}
.y1d{bottom:394.630000px;}
.y32{bottom:396.100000px;}
.y5f{bottom:396.820000px;}
.y54{bottom:398.860000px;}
.y7{bottom:408.940000px;}
.y1c{bottom:409.300000px;}
.y68{bottom:409.900000px;}
.y48{bottom:414.940000px;}
.y53{bottom:415.420000px;}
.y1b{bottom:423.940000px;}
.y31{bottom:425.500000px;}
.y52{bottom:431.980000px;}
.y41{bottom:435.460000px;}
.y67{bottom:436.420000px;}
.y1a{bottom:438.580000px;}
.y6{bottom:443.500000px;}
.y51{bottom:448.540000px;}
.y3d{bottom:449.140000px;}
.y39{bottom:449.740000px;}
.y19{bottom:453.220000px;}
.y30{bottom:453.460000px;}
.y64{bottom:455.380000px;}
.y66{bottom:463.060000px;}
.y47{bottom:465.100000px;}
.y6d{bottom:466.540000px;}
.y18{bottom:467.860000px;}
.y2f{bottom:469.540000px;}
.y5{bottom:477.940000px;}
.y63{bottom:480.580000px;}
.y46{bottom:481.660000px;}
.y17{bottom:482.500000px;}
.y38{bottom:482.860000px;}
.y3f{bottom:484.900000px;}
.y65{bottom:489.580000px;}
.y16{bottom:497.140000px;}
.y2e{bottom:497.860000px;}
.y45{bottom:498.220000px;}
.y4{bottom:500.860000px;}
.y62{bottom:505.780000px;}
.y37{bottom:506.380000px;}
.y5e{bottom:508.660000px;}
.y15{bottom:509.860000px;}
.y44{bottom:514.780000px;}
.y2d{bottom:520.060000px;}
.y3{bottom:520.300000px;}
.y14{bottom:528.340000px;}
.y36{bottom:529.920000px;}
.y35{bottom:530.880000px;}
.y43{bottom:531.360000px;}
.y34{bottom:546.960000px;}
.y42{bottom:547.920000px;}
.y2b{bottom:562.200000px;}
.y1{bottom:562.320000px;}
.h11{height:12.840000px;}
.h13{height:12.960000px;}
.h14{height:13.200000px;}
.h15{height:27.421875px;}
.hf{height:31.961484px;}
.h1a{height:33.766875px;}
.h12{height:33.886875px;}
.h19{height:34.888125px;}
.ha{height:35.427187px;}
.h18{height:36.703125px;}
.h16{height:37.921875px;}
.h10{height:38.507812px;}
.h9{height:40.210856px;}
.h7{height:42.057656px;}
.h17{height:42.942656px;}
.he{height:44.368594px;}
.hc{height:45.054141px;}
.h2{height:45.906562px;}
.h6{height:46.618125px;}
.h8{height:47.668192px;}
.h4{height:49.898438px;}
.hb{height:50.436094px;}
.h5{height:50.671875px;}
.hd{height:54.725625px;}
.h3{height:67.393594px;}
.h0{height:595.320000px;}
.h1{height:595.500000px;}
.w3{width:48.260463px;}
.w8{width:77.784000px;}
.w9{width:79.200000px;}
.w5{width:89.664000px;}
.w4{width:107.520000px;}
.w6{width:107.540000px;}
.w7{width:107.640000px;}
.w2{width:841.919987px;}
.w0{width:841.920000px;}
.w1{width:842.000000px;}
.x0{left:0.000000px;}
.x4{left:13.570811px;}
.x8{left:32.160000px;}
.x1{left:35.999987px;}
.x5{left:53.999987px;}
.x3{left:84.479987px;}
.xd{left:89.999987px;}
.x16{left:106.819987px;}
.xe{left:108.019987px;}
.x7{left:116.180000px;}
.x19{left:126.019987px;}
.x17{left:132.019987px;}
.xf{left:135.019987px;}
.x14{left:144.019987px;}
.x11{left:153.019987px;}
.x10{left:162.019987px;}
.x9{left:245.300000px;}
.x13{left:363.889987px;}
.x18{left:372.049987px;}
.x6{left:421.009987px;}
.x2{left:438.649987px;}
.xb{left:465.530000px;}
.x15{left:470.929987px;}
.x12{left:490.029987px;}
.xa{left:710.860000px;}
.xc{left:740.860000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls3{letter-spacing:-0.271467pt;}
.ls4{letter-spacing:-0.218667pt;}
.ls7{letter-spacing:-0.192000pt;}
.ls8{letter-spacing:-0.128000pt;}
.ls2{letter-spacing:-0.097067pt;}
.ls9{letter-spacing:-0.064000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls6{letter-spacing:0.080000pt;}
.ls1{letter-spacing:0.256000pt;}
.ls5{letter-spacing:0.320000pt;}
.ws0{word-spacing:0.000000pt;}
._2{margin-left:-11.520000pt;}
._3{margin-left:-1.825280pt;}
._0{width:1.532160pt;}
._9{width:17.397760pt;}
._1{width:24.320000pt;}
._8{width:27.392000pt;}
._7{width:56.896000pt;}
._11{width:60.544000pt;}
._f{width:93.840000pt;}
._e{width:115.850667pt;}
._10{width:123.978667pt;}
._4{width:137.286827pt;}
._c{width:163.152000pt;}
._a{width:177.557760pt;}
._d{width:180.352000pt;}
._5{width:749.461547pt;}
._6{width:753.504427pt;}
._b{width:913.344427pt;}
.fs8{font-size:48.000000pt;}
.fs4{font-size:51.574656pt;}
.fs3{font-size:53.120000pt;}
.fs7{font-size:56.320000pt;}
.fs0{font-size:58.880000pt;}
.fs2{font-size:64.000000pt;}
.fs6{font-size:69.120000pt;}
.fs5{font-size:74.880000pt;}
.fs1{font-size:85.120000pt;}
.y0{bottom:0.000000pt;}
.y3a{bottom:3.840000pt;}
.y3c{bottom:4.000000pt;}
.y40{bottom:4.320000pt;}
.y2a{bottom:4.417982pt;}
.y2{bottom:14.272000pt;}
.y2c{bottom:22.432000pt;}
.y13{bottom:30.912000pt;}
.y33{bottom:39.712000pt;}
.y11{bottom:85.312000pt;}
.y7d{bottom:96.672000pt;}
.y5d{bottom:111.072000pt;}
.y7c{bottom:116.832000pt;}
.y10{bottom:131.232000pt;}
.y7b{bottom:137.146667pt;}
.y5c{bottom:145.146667pt;}
.y7a{bottom:157.466667pt;}
.y5b{bottom:167.226667pt;}
.yf{bottom:177.186667pt;}
.y79{bottom:177.666667pt;}
.y5a{bottom:198.626667pt;}
.y78{bottom:200.546667pt;}
.y4e{bottom:216.706667pt;}
.y3b{bottom:217.026667pt;}
.y50{bottom:218.946667pt;}
.ye{bottom:223.266667pt;}
.y77{bottom:231.586667pt;}
.y59{bottom:234.146667pt;}
.y76{bottom:249.186667pt;}
.y4f{bottom:250.306667pt;}
.y4d{bottom:251.586667pt;}
.y58{bottom:265.506667pt;}
.y75{bottom:266.786667pt;}
.yd{bottom:269.186667pt;}
.y28{bottom:269.506667pt;}
.y12{bottom:270.306667pt;}
.y4c{bottom:281.826667pt;}
.y27{bottom:285.826667pt;}
.y29{bottom:286.362411pt;}
.y74{bottom:292.386667pt;}
.y57{bottom:297.026667pt;}
.y3e{bottom:301.186667pt;}
.y4b{bottom:313.346667pt;}
.yc{bottom:315.266667pt;}
.y73{bottom:317.986667pt;}
.y56{bottom:324.386667pt;}
.y4a{bottom:340.706667pt;}
.y72{bottom:343.906667pt;}
.y26{bottom:355.613333pt;}
.yb{bottom:361.213333pt;}
.y25{bottom:375.133333pt;}
.y24{bottom:394.813333pt;}
.y71{bottom:397.213333pt;}
.y6c{bottom:404.893333pt;}
.ya{bottom:407.293333pt;}
.y23{bottom:414.333333pt;}
.y70{bottom:429.213333pt;}
.y22{bottom:433.853333pt;}
.y6b{bottom:440.253333pt;}
.y21{bottom:450.653333pt;}
.y9{bottom:453.213333pt;}
.y20{bottom:467.613333pt;}
.y6f{bottom:470.973333pt;}
.y61{bottom:473.373333pt;}
.y6a{bottom:475.613333pt;}
.y1f{bottom:487.133333pt;}
.y6e{bottom:488.733333pt;}
.y8{bottom:499.293333pt;}
.y60{bottom:503.133333pt;}
.y1e{bottom:506.653333pt;}
.y55{bottom:509.693333pt;}
.y69{bottom:511.133333pt;}
.y49{bottom:521.853333pt;}
.y1d{bottom:526.173333pt;}
.y32{bottom:528.133333pt;}
.y5f{bottom:529.093333pt;}
.y54{bottom:531.813333pt;}
.y7{bottom:545.253333pt;}
.y1c{bottom:545.733333pt;}
.y68{bottom:546.533333pt;}
.y48{bottom:553.253333pt;}
.y53{bottom:553.893333pt;}
.y1b{bottom:565.253333pt;}
.y31{bottom:567.333333pt;}
.y52{bottom:575.973333pt;}
.y41{bottom:580.613333pt;}
.y67{bottom:581.893333pt;}
.y1a{bottom:584.773333pt;}
.y6{bottom:591.333333pt;}
.y51{bottom:598.053333pt;}
.y3d{bottom:598.853333pt;}
.y39{bottom:599.653333pt;}
.y19{bottom:604.293333pt;}
.y30{bottom:604.613333pt;}
.y64{bottom:607.173333pt;}
.y66{bottom:617.413333pt;}
.y47{bottom:620.133333pt;}
.y6d{bottom:622.053333pt;}
.y18{bottom:623.813333pt;}
.y2f{bottom:626.053333pt;}
.y5{bottom:637.253333pt;}
.y63{bottom:640.773333pt;}
.y46{bottom:642.213333pt;}
.y17{bottom:643.333333pt;}
.y38{bottom:643.813333pt;}
.y3f{bottom:646.533333pt;}
.y65{bottom:652.773333pt;}
.y16{bottom:662.853333pt;}
.y2e{bottom:663.813333pt;}
.y45{bottom:664.293333pt;}
.y4{bottom:667.813333pt;}
.y62{bottom:674.373333pt;}
.y37{bottom:675.173333pt;}
.y5e{bottom:678.213333pt;}
.y15{bottom:679.813333pt;}
.y44{bottom:686.373333pt;}
.y2d{bottom:693.413333pt;}
.y3{bottom:693.733333pt;}
.y14{bottom:704.453333pt;}
.y36{bottom:706.560000pt;}
.y35{bottom:707.840000pt;}
.y43{bottom:708.480000pt;}
.y34{bottom:729.280000pt;}
.y42{bottom:730.560000pt;}
.y2b{bottom:749.600000pt;}
.y1{bottom:749.760000pt;}
.h11{height:17.120000pt;}
.h13{height:17.280000pt;}
.h14{height:17.600000pt;}
.h15{height:36.562500pt;}
.hf{height:42.615313pt;}
.h1a{height:45.022500pt;}
.h12{height:45.182500pt;}
.h19{height:46.517500pt;}
.ha{height:47.236250pt;}
.h18{height:48.937500pt;}
.h16{height:50.562500pt;}
.h10{height:51.343750pt;}
.h9{height:53.614474pt;}
.h7{height:56.076875pt;}
.h17{height:57.256875pt;}
.he{height:59.158125pt;}
.hc{height:60.072187pt;}
.h2{height:61.208750pt;}
.h6{height:62.157500pt;}
.h8{height:63.557589pt;}
.h4{height:66.531250pt;}
.hb{height:67.248125pt;}
.h5{height:67.562500pt;}
.hd{height:72.967500pt;}
.h3{height:89.858125pt;}
.h0{height:793.760000pt;}
.h1{height:794.000000pt;}
.w3{width:64.347285pt;}
.w8{width:103.712000pt;}
.w9{width:105.600000pt;}
.w5{width:119.552000pt;}
.w4{width:143.360000pt;}
.w6{width:143.386667pt;}
.w7{width:143.520000pt;}
.w2{width:1122.559983pt;}
.w0{width:1122.560000pt;}
.w1{width:1122.666667pt;}
.x0{left:0.000000pt;}
.x4{left:18.094415pt;}
.x8{left:42.880000pt;}
.x1{left:47.999983pt;}
.x5{left:71.999983pt;}
.x3{left:112.639983pt;}
.xd{left:119.999983pt;}
.x16{left:142.426650pt;}
.xe{left:144.026650pt;}
.x7{left:154.906667pt;}
.x19{left:168.026650pt;}
.x17{left:176.026650pt;}
.xf{left:180.026650pt;}
.x14{left:192.026650pt;}
.x11{left:204.026650pt;}
.x10{left:216.026650pt;}
.x9{left:327.066667pt;}
.x13{left:485.186650pt;}
.x18{left:496.066650pt;}
.x6{left:561.346650pt;}
.x2{left:584.866650pt;}
.xb{left:620.706667pt;}
.x15{left:627.906650pt;}
.x12{left:653.373317pt;}
.xa{left:947.813333pt;}
.xc{left:987.813333pt;}
}
